{namespace hfwu=JWeiland\Hfwupersonal\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<h1><f:translate key="headerForListView" /></h1>

	<f:render partial="JavaScript" arguments="{siteUrl: siteUrl}" />

	<form id="searchForm" action="{f:uri.action(action: 'search')}" method="get">
		<input type="hidden" name="id" value="{pageUid}" /><br />
		<input type="hidden" name="no_cache" value="1" /><br />
		<input type="hidden" name="tx_hfwupersonal_personal[controller]" value="Person" /><br />
		<input type="hidden" name="tx_hfwupersonal_personal[action]" value="search" /><br />
		<input type="text" id="search" name="tx_hfwupersonal_personal[search]" value="{search}" /><br />
		<input type="submit" value="Search" />
	</form>

	<table class="tx_hfwupersonal">
		<tr>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.title" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.first_name" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.last_name" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.email" /></th>
		</tr>

		<f:comment>
			<f:widget.paginate objects="{persons}" as="paginatedPersons" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage}">
				<f:for each="{paginatedPersons}" as="person">
					<tr>
						<td>{person.title}</td>
						<td>{person.firstName}</td>
						<td><f:link.action action="show" pageUid="{f:if(condition: person.profilePage.link, then: person.profilePage.link, else: settings.pidOfDetailPage)}" arguments="{person: person}">{person.lastName}</f:link.action></td>
						<td>{person.email}</td>
					</tr>
				</f:for>
			</f:widget.paginate>
		</f:comment>

		<f:groupedFor each="{persons}" as="groupedPersons" groupBy="firstLetterOfLastName" groupKey="firstLetterOfLastName">
			<tr>
				<td colspan="4" id="letter-{firstLetterOfLastName}">{firstLetterOfLastName}</td>
			</tr>
			<f:for each="{groupedPersons->hfwu:sort(sortBy: 'firstName')}" as="person">
				<tr>
					<td>{person.title}</td>
					<td>{person.firstName}</td>
					<td><f:link.action action="show" pageUid="{f:if(condition: person.profilePage.link, then: person.profilePage.link, else: settings.pidOfDetailPage)}" arguments="{person: person}">{person.lastName}</f:link.action></td>
					<td>{person.email}</td>
				</tr>
			</f:for>
		</f:groupedFor>
	</table>
</f:section>