<f:layout name="Default" />

<f:section name="main">
	<h1><f:translate key="headerForListView" /></h1>

	<f:flashMessages renderMode="div" />

	<table class="tx_hfwupersonal" >
		<tr>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.title" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.first_name" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.last_name" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.email" /></th>
		</tr>

		<f:widget.paginate objects="{persons}" as="paginatedPersons" configuration="{itemsPerPage: 50}">
			<f:for each="{paginatedPersons}" as="person">
				<tr>
					<td>{person.title}</td>
					<td>{person.firstName}</td>
					<td><f:link.action action="show" arguments="{person: person}">{person.lastName}</f:link.action></td>
					<td>{person.email}</td>
				</tr>
			</f:for>
		</f:widget.paginate>
	</table>
</f:section>