<f:layout name="Default" />

<f:section name="main">
	<h1>Listing for Persons</h1>

	<f:flashMessages renderMode="div" />

	<table class="tx_hfwupersonal" >
		<tr>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.title" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.first_name" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.last_name" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.email" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.image" /></th>
			<th><f:translate key="tx_hfwupersonal_domain_model_person.image_comment" /></th>
		</tr>

		<f:for each="{persons}" as="person">
			<tr>
				<td><f:link.action action="show" arguments="{person: person}">{person.title}</f:link.action></td>
				<td><f:link.action action="show" arguments="{person: person}">{person.firstName}</f:link.action></td>
				<td><f:link.action action="show" arguments="{person: person}">{person.lastName}</f:link.action></td>
				<td><f:link.action action="show" arguments="{person: person}">{person.email}</f:link.action></td>
				<td><f:link.action action="show" arguments="{person: person}">{person.image.originalResource.name}</f:link.action></td>
				<td><f:link.action action="show" arguments="{person: person}">{person.imageComment}</f:link.action></td>
			</tr>
		</f:for>
	</table>
</f:section>